body {
  background-color: rgb(37, 37, 37);
  text-align: center;
}

h2 {
  color: white;
}

.contents {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.content {
  padding: 18px;
}

img {
  width: 80%;
  height: 80%;
}

.currentClock {
  font-family: "Share Tech Mono", monospace;
  color: #daf6ff;
  text-shadow: 0 0 20px #3f32fa;
  line-height: 1.2;
  font-size: 40px;
}

.searchCondition {
  color: white;
  font-size: 30px;
}
